@model IEnumerable<Category>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <caption>
                @ViewData["KategoriAdi"] @TempData["KategoriAciklama"]
            </caption>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CategoryID)</th>
                    <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.CategoryID</td>
                        <td>@category.CategoryName</td>
                        <td>@category.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <caption>
                @ViewData["KategoriAdi"] @TempData["KategoriAciklama"]
            </caption>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CategoryID)</th>
                    <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in TempData["CV3"] as List<Category>)
                {
                    <tr>
                        <td>@category.CategoryID</td>
                        <td>@category.CategoryName</td>
                        <td>@category.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <caption>
                @ViewData["KategoriAdi"] @TempData["KategoriAciklama"]
            </caption>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CategoryID)</th>
                    <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in ViewBag.CV1)
                {
                    <tr>
                        <td>@category.CategoryID</td>
                        <td>@category.CategoryName</td>
                        <td>@category.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

                    <div class="row">
    <div class="col">
        <table class="table table-hover">
            <caption>
     
            </caption>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CategoryID)</th>
                    <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in (IEnumerable<Category>)ViewData["CV2"])
                {
                        <tr>
                            <td>@category.CategoryID</td>
                            <td>@category.CategoryName</td>
                            <td>@category.Description</td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>